<div class="m-3">
    <div class="">
        <div class="bg-white p-6 text-center">

            <p class="text-leader2">
                <b>ALL LIGHTS</b>
            </p>
        </div>
        <div class="m-2"></div>

        <div class="bg-white p-2">
            <div class="tiles-grid">
                    {#for room in rooms}
                        {#for light in room.allLights } 
                            <a id="light_{light.id}" data-role="tile" data-size="medium" data-effect="hover-zoom-right" class="bg-white"  
                            onclick="toggleLightState({light.id}, {light.state.on ? false : true}, {light.state.bri}, true); " 
                            >
                                <div class="slide-front">
                                    {#if light.state.on }
                                    <img id="img_light_{light.id}" src="https://img.icons8.com/color-glass/48/000000/light-on.png" class="icon h-48 w-48"/>
                                    {#else}
                                    <img id="img_light_{light.id}" src="https://img.icons8.com/color-glass/48/000000/light-off.png" class="icon h-48 w-48"/>
                                    {/if}
                                </div>
                                <div class="slide-back d-flex flex-justify-center flex-align-center p-4 op-mauve">
                                    <p class="text-center">
                                        {room.name}
                                    </p>
                                </div>
                                <span class="branding-bar fg-dark">{light.name}</span>
                            </a>
                        {/for}
                    {/for}

            </div>
        </div>
    </div>
</div>