<div data-role="gradient-box" data-gradient-position="40px 40px" data-gradient-size="farthest-corner"
    data-gradient-type="radial" data-gradient-colors="#0a0b00 0%, #0aff05 100% " class="fg-white p-6 ">
    <div class="grid">
        <div class="row">
            <div class="cell-12">
                <h2>HOME</h2>
            </div>
        </div>


        <!-- rounded info boxes with lights and Temp -->
        <div class="row pr-2 flex-justify-center">
            
            {#for sensor in temperatureSensors}
            <div class="cell" style="width: 80px">
                <div class="border bd-lightCyan border-size-2 border-double border-radius-half  bg-white fg-black bg-cobalt-hover"
                    style="width: 60px; height: 60px">
                    <div class="mt-4">
                        <p id="sensor_{sensor.id}" class="text-center fg-black text-bold">{sensor.state.printableTemperature}°</p>
                    </div>
                </div>
                <div class="text-left text-secondary text-small">{sensor.name}</div>
            </div>
            {/for}
        </div>
    </div>
    <div class="mt-8">
        <span class="text-left text-bold fg-white">
            <span><h4>Weather</h4><span class="fg-white text-medium text-bold">{weather.dtString}</span></span>
        </span>
    </div>

    <div class="grid">
        <div class="row">
            <div class="cell-3">
                <img src="http://openweathermap.org/img/wn/{weather.weather[0].icon}@2x.png" width="100" height="100"/>
            </div>


            <div class="cell-4">
                <div class="row">
                    <span class="fg-white text-medium text-bold">{weather.weather[0].description}</span>
                </div>
                <div class="row">
                    <span class="fg-white text-small">Temp: {weather.main.temp}°C</span>
                </div>
                <div class="row">
                    <span class="fg-white text-small">Feels: {weather.main.feelsLike}°C</span>
                </div>
                <div class="row">
                    <span class="fg-white text-small">Min/Max: {weather.main.tempMin}°C / {weather.main.tempMax}°C</span>
                </div>

            </div>

            <div class="cell-4">
                <div class="row">
                    <span class="fg-white text-medium text-bold">Wind</span>
                </div>
                <div class="row">
                    <span class="fg-white text-small">Wind: {weather.wind.speed}m/s</span>
                </div>
                <div class="row">
                    <span class="fg-white text-small">Gust: {weather.wind.gust}m/s</span>
                </div>
                <div class="row">
                    <span class="fg-white text-small">Vis: {weather.visibility}m</span>
                </div>

            </div>

        </div>

        <div class="row">
            {#for day in forecast.daily} 
            <div class="cell-4">
                <div class="row">
                    <span class="fg-white text-small text-bold" >{day.dtString}</span>
                </div>
                <div class="row">
                    <div class="cell-4">
                        <img src="http://openweathermap.org/img/wn/{day.weather[0].icon}.png"  />
                    </div>
                    <div class="cell-2">
                        <div class="row">
                            <span class="fg-white text-small">{day.temp.dayString}°C</span>
                        </div>
                        <div class="row">
                            <span class="fg-white text-small">{day.temp.nightString}°C</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <span class="fg-white text-small">{day.weather[0].description}</span>
                </div>
            </div>
            {/for}
        </div>
    </div>
</div>

