<!doctype html>
<html lang="en" class=" scrollbar-type-1 sb-cyan">

<head>
    <meta charset="utf-8" />
    <title>Hue Light Control UI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    
    <!-- Metro 4 -->
    <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.css">
    <link rel="stylesheet" href="/index.css">

    <script src="/logic.js"></script>
    <script src="/svg-injector.js"></script>

    <script>
    {#include javascript /}
    </script>

    <style>
        #nav-icon {
            width: 16px;
            height: 16px;
        }

        #room-icon {
            width: 32px;
            height: 32px;
        }

        g {
            fill: #ffffff;
        }
    </style>
</head>

<body class="m4-cloak h-vh-100">

    <div data-role="navview" data-toggle="#paneToggle" data-expand="xl" data-compact="lg" data-active-state="true">

        <div class="navview-pane">
            <div class="bg-cyan d-flex flex-align-center">
                <button class="pull-button m-0 bg-darkCyan-hover">
                    <span class="mif-menu fg-white"></span>
                </button>
                <a href="/ui/index"><h2 class="text-light m-0 fg-white pl-7" style="line-height: 52px">light-control</h2></a>
            </div>
        
        
            <!--div class="suggest-box">
                <input type="text" data-role="input" data-clear-button="false" data-search-button="true">
                <button class="holder">
                    <span class="mif-search fg-white"></span>
                </button>
            </div -->

            <ul class="navview-menu mt-4" id="side-menu">
                <li class="item-header">MAIN NAVIGATION</li>
                <li>
                    <a href="/ui/favorites">
                        <span class="icon"><span class="mif-favorite"></span></span>
                        <span class="caption">Favorites</span>
                    </a>
                </li>

                <li>
                    <a href="/ui/sensors">
                        <span class="icon"><span class="mif-alarm"></span></span>
                        <span class="caption">Sensors</span>
                    </a>
                </li>

                <li>
                    <a href="/ui/all-rooms">
                        <span class="icon"><span class="mif-home"></span></span>
                        <span class="caption">All Rooms</span>
                    </a>
                </li>

                {#for room in rooms}
                <li>
                    <a href="/ui/room?room={room.name}"  > 
                        <span class="icon">
                            <img id="nav-icon" class="inject-me" src="/images/{room.convertClassToImage}" />
                        </span>                        
                        <span class="caption">
                            {#if state is 'room' && selectedRoom.name is room.name}
                            <b> > {room.name}</b>
                            {#else}
                              {room.name}
                            {/if}
                        </span> 
                    </a>
                </li>                
                {/for}

            </ul>
        </div>

        <!-- content area -->
        <div class="navview-content h-100" >
            <div data-role="appbar" class="pos-absolute bg-darkCyan fg-white">
                <a href="#" class="app-bar-item d-block d-none-lg" id="paneToggle"><span class="mif-menu"></span></a>

                <div class="app-bar-container ml-auto">
                    <div class="app-bar-container">
                        <a href="#" class="app-bar-item">
                            <span class="mif-cogs"></span>                        
                        </a>

                        <div class="user-block shadow-1" data-role="collapse" data-collapsed="true">
                            <div class="bg-darkCyan fg-white p-2 text-center">
                                
                                <div class="h4 mb-0"><span class="mif-cogs"></span>&nbsp;Settings</div>
                                <div class="bg-white d-flex flex-justify-between flex-equal-items p-2 bg-light">
                                    <button class="button mr-1" onclick="createDatabase();">Create Database</button>                                    
                                </div>
                                <div class="bg-white d-flex flex-justify-between flex-equal-items p-2 bg-light">
                                    <button class="button mr-1" onclick="deleteDatabase();">Delete Database</button>
                                </div>
                                <div class="bg-white d-flex flex-justify-between flex-equal-items p-2 bg-light">
                                    <button class="button mr-1" onclick="updateDatabase();">Update Database</button>
                                </div>
                                <hr />

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Content here will be replaced by click on navview item -->
            <div class="content-inner h-100" style="overflow-y: auto">

             {#switch state} 
                {#case 'index'}
                    {#include intro /}
                    
                {#case 'room'}
                    {#include room /}

                {#case 'favorites'}
                    {#include favorites /}

                {#case 'all-rooms'}
                    {#include all-rooms /}

                {#case 'sensors'}
                    {#include sensors /}
                    
             {/switch}  

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>

    <script>
        // Elements to inject
            var mySVGsToInject = document.querySelectorAll('img.inject-me');

            // Options
            var injectorOptions = {
                evalScripts: 'once',
                pngFallback: 'assets/png',
                each: function (svg) {
                    // Callback after each SVG is injected
                    if (svg) console.log('SVG injected: ' + svg.getAttribute('id'));
                }
            };

            // Trigger the injection
            SVGInjector(mySVGsToInject, injectorOptions, function (totalSVGsInjected) {
                // Callback after all SVGs are injected
                console.log('We injected ' + totalSVGsInjected + ' SVG(s)!');
            });

    </script>
</body>

</html>