<div class="m-3">
    <div class="">
        <div class="bg-white p-6 text-center">

            <div class="grid">
                <div class="row flex-justify-start flex-align-start">
                    <div class="cell-1 flex-align-self-start">
                        <img src="https://img.icons8.com/color/48/000000/lounge.png" />
                    </div>
                    <div class="cell-7 flex-align-self-center">
                        <p class="text-leader2">
                            <b>{selectedRoom.name}</b>
                        </p>
                    </div>
                    <div class="cell-3 flex-align-self-center">
                        <table border="0">
                        {#for sensor in temperatureSensors}
                        <tr>
                            <td align="right"><b>{sensor.name}:</b></td>
                            <td>&nbsp;</td>
                            <td align="right">{sensor.state.printableTemperature}°C</td>
                        </tr>
                        {/for}
                        </table>
                    </div>
                    <div class="cell-1 flex-align-self-center">
                        <a href="#" onclick="toggleRoom({selectedRoom.id}, {selectedRoom.action.bri}, true);">
                        
                            {#if selectedRoom.action.on}
                            <img id="img_room_{selectedRoom.id}" src="https://img.icons8.com/color-glass/48/000000/light-on.png"
                                class="icon h-48 w-48" />
                            {#else}
                            <img id="img_room_{selectedRoom.id}" src="https://img.icons8.com/color-glass/48/000000/light-off.png"
                                class="icon h-48 w-48" />
                            {/if}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-2"></div>

        <div class="container bg-white p-2">
            <div class="grid">

                {#for light in selectedRoom.allLights}
                    {#include render-light /}
                {/for}
            </div>
        </div>
    </div>
</div>

