<div class="m-3">
    <div class="">
        <div class="bg-cyan fg-white p-6 text-center">

            <div class="grid">
                <div class="row flex-justify-start flex-align-start">
                    <div class="cell-1 flex-align-self-start">
                        <img src="https://img.icons8.com/color/48/000000/lounge.png" />
                    </div>
                    <div class="cell-10 flex-align-self-center">
                        <p class="text-leader2">
                            <h2>{selectedRoom.name}</h2>
                        </p>

                        <table class="border" border="1" align="center" width="100%" >
                            {#for sensor in temperatureSensors}
                            <tr align="center" class="border">
                                <td align="right" width="200" class="border"><b>{sensor.name}:</b></td>
                                <td width="15">&nbsp;</td>
                                <td align="right" width="100">{sensor.state.printableTemperature}°C</td>
                            </tr>
                            {/for}
                        </table>
                    </div>
                    <div  id="room_{selectedRoom.id}" class="cell-1 flex-align-self-center"
                    onmouseover="$('#room_{selectedRoom.id}').toggleClass('border');" onmouseout="$('#room_{selectedRoom.id}').toggleClass('border');" >
                        <a href="#" onclick="toggleRoom({selectedRoom.id}, {selectedRoom.action.bri}, true);">
                        
                            {#if selectedRoom.action.on}
                            <img id="img_room_{selectedRoom.id}" src="https://img.icons8.com/color-glass/48/000000/light-on.png"
                                class="icon h-48 w-48" />
                            {#else}
                            <img id="img_room_{selectedRoom.id}" src="https://img.icons8.com/color-glass/48/000000/light-off.png"
                                class="icon h-48 w-48" />
                            {/if}
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-2"></div>

        <div class="container bg-white p-2">
            <div class="grid">

                {#for light in selectedRoom.allLights}
                    {#include render-light /}
                {/for}
            </div>
        </div>
    </div>
</div>

